/*Reset*/
html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
*,h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
body {
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
	background: #FFFFFF;
}
body, p, td, th, input, textarea, select, option, span, small {
	color: #212b49;
	text-decoration: none;
	font-size: 16px;
}

.form-install-extensions > form > p {
	margin-bottom: 16px;
}

.form > form > p {
	margin-bottom: 24px;
}

.form-install-extensions fieldset {
	border: 2px solid #d2daf2;
	margin-bottom: 36px;
}

.form > form > fieldset {
	border: none;
}

.form > form > fieldset input, .form > form > fieldset select {
	border-radius: 14px;
	padding: 6px 12px;
	border: 1px solid #cecece;
	max-width: 540px;
}

fieldset table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0 !important;
}
fieldset .text-danger {
	color: #ff4d0f;
}
fieldset .text-done {
	color: #719618;
}

fieldset > .table > thead > tr > td {
	height: 60px;
	vertical-align: middle;
}

fieldset > .table tr > td, fieldset > .table tr > td b {
	font-size: 14px;
	color: #212b49;
}

fieldset > .table > tbody > tr > td {
	border-top: 1px solid #d2daf2;
}

fieldset > .table > tbody > tr:nth-child(odd) {
	background: #f2f4fb;
}

fieldset table.form tr td:first-child {
	width: 250px;
}
fieldset table td tr {
	padding: 5px;
}
select, input[type='text'], input[type='password'], textarea {
	background: #FFFFFF;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #DBDBDB;
	padding: 4px;
	color: #000;
}
option {
	color: #000;
}
a, a:visited, a b {
	color: #23A1D1;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
b, strong {
	color: #555;
}
label {
	cursor: pointer;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

/*Buttons*/
a.button, input.button {
	cursor: pointer;
	color: #FFF;
	font-size: 13px;
	border: 1px solid #78883C;
	background: url('../image/button.png') repeat-x;
	text-shadow: 0px -1px #7A8A3D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 1px 2px 2px #DDDDDD;
	-moz-box-shadow: 1px 2px 2px #DDDDDD;
	box-shadow: 1px 2px 2px #DDDDDD;
	margin-bottom: 2px;
}
.buttons {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #f7f7f7;
	margin-top: 50px;
	padding: 15px 0;
	margin-bottom: 20px;
	text-align: right;
}

.form-horizontal .control-label {
	white-space: nowrap;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

input, input:focus, input:visited {
	outline: none;
}

.btn {
	border-radius: 24px;
	padding: 10px 25px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.btn-default:visited,
.btn-default {
	border: none;
	color: #777;
	background: #ddd;
}
.btn-default:hover {
	background: #ccc;
	color: #777;
}
.btn-primary:visited,
.btn-primary {
	color: #fff;
	background: #232a47;
	border: none;
}
.btn-primary:hover {
	background: #232a47;
}
.btn-secondary:visited,
.btn-secondary {
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
}
.btn-secondary:hover {
	border: 2px solid #fff;
	background: #fff;
	color: #232a47;
}

.__button-next {
	background: url(../image/double-arrow-right.png) no-repeat;
	background-size: 16px;
	color: #fff;
	background-color: #232a47;
	border-radius: 24px;
	border: none;
	padding: 12px 46px 12px 30px;
	font-weight: bold;
	background-position: 85% 18px;
}

.__button-prev {
	background: url(../image/double-arrow-prev.png) no-repeat;
	background-size: 16px;
	color: #fff;
	background-color: #f2f4fb;
	border-radius: 24px;
	border: none;
	padding: 12px 60px 12px 60px;
	font-weight: bold;
	background-position: 22px 18px;
}

/*Transitions*/
.transition {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.text-primary {
	color: #6daeff;
}

.text-primary > .fa {
	font-size: 18px;
}

/*Layout*/
#column-right {
	float: right;
	width: 284px;
	margin-left: 30px;
	margin-bottom: 20px;
	min-height: 350px;
}
#column-right ul, #column-right ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#column-right ul ul {
	margin-left: 30px;
}
#column-right ul a, #column-right ul a b {
	color: #777777;
	text-decoration: none;
}
#column-right ul li {
	display: block;
	padding: 0px 8px 8px 22px;
	margin-bottom: 8px;
	border-bottom: 1px solid #DBDBDB;
	background: url('../image/bullet-arrow.png') 0px 5px no-repeat;
}

/*Header*/

.licence-argeement {
	display: flex;
	flex-direction: column;
}

.form-licence-argeement {
	display: flex;
}

header {
	padding: 50px 50px 0 50px;
}

.logo {
	margin: 50px 0;
}

.logo.sm {
	margin: 74px 0 50px;
}

.license-step {
	margin: 0 0 5px 0;
	font-size: 48px;
	font-weight: bold;
}

.license-step small {
	margin: 15px 0 50px 0;
	color: #212b49;
	font-size: 24px;
	font-weight: 200;
}

.licence-title{
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
}

.licence-title.line {
	border-bottom: 1px solid #fbcb09;
	padding-bottom: 26px;
	margin-bottom: 26px;
}

.hr {
	border-bottom: 1px solid #fbcb09;
	margin: 26px 0 32px;
}

.licence-title small {
	margin: 10px 0 0 0;
	display: block;
	color: #212b49;
	font-size: 24px;
	font-weight: 200;
	text-transform: none;
}

header.clear {
	padding: 50px 0;
}

.text-forget {
	display: flex;
	background: #f5f5f5;
}

.text-forget > span {
	display: inline-flex;
	padding: 15px 40px 14px;
	color: #666666;
	font-size: 18px;
	font-weight: bold;
}

.text-forget:before {
	content: '';
	display: inline-flex;
	background: #fbcb09 url('../image/dont-forget.png') no-repeat center;
	height: 56px;
	width: 56px;
}

.nav-group {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-group-item {
	position: relative;
	color: #212b49;
	border-bottom: 1px solid #e7e7e7;
	padding: 8px 0 10px 18px;
}

.nav-group-item > i {
	font-size: 16px;
	font-weight: bold;
	color: #fabb11;
	position: absolute;
	left: 0;
	top: 13px;
}

.nav-group-item span{
	padding: 1px 6px 2px;
	font-size: 14px;
}

.nav-group-item span.active {
	background: #fbcb09;
}

/* STEP 4*/

.online-shop {
	background: #212b49;
	padding: 75px 0;
}

.go-to-shop > a, .go-to-admin > a {
	background: #fbcb09;
	padding: 45px 90px 40px;
	width: 100%;
	display: block;
	vertical-align: middle;
	height: 180px;
}

.go-to-shop > a:before {
	content: '';
	display: inline-block;
	background: url('../image/shop.png') no-repeat;
	min-width: 90px;
	height: 90px;
	float: left;
	margin-right: 35px;
}

.go-to-admin > a:before {
	content: '';
	display: inline-block;
	background: url('../image/admin.png') no-repeat;
	min-width: 90px;
	height: 90px;
	float: left;
	margin-right: 35px;
}

.go-to-shop > a > span, .go-to-admin > a > span {
	display: inline;
	font-size: 24px;
	color: #212b49;
	border-bottom: 2px dotted;
	position: relative;
	top: 4px;
}

.extensions-box {
	text-align: center;
	margin-top: 66px;
}

.go-to-extensions {
	border: 1px solid #fbcb09;
	color: #fbcb09 !important;
	text-transform: uppercase;
	padding: 0 110px 0 44px;
	height: 60px;
	display: inline-flex;
	margin: 0 auto;
	align-items: center;
	font-size: 20px;
	border-radius: 24px;
	background: url(../image/double-arrow-right.png) no-repeat 94% 19px;
	background-size: 21px;
}

.go-to-extensions:hover {
	color: #fbcb09 !important;
}

.subscribe {
	background: #ffffff;
	padding: 50px 0;
}

.subscribe .content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.subscribe .content:before {
	content: '';
	display: inline-block;
	float: left;
	background: url('../image/subscribe.png') no-repeat;
	width: 99px;
	height: 90px;
	margin-right: 55px;
}

.subscribe .content .text p {
	font-size: 24px;
	text-transform: uppercase;
	color: #212b49;
	font-weight: bold;
}

.subscribe .content .text .form-group {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 0;
}

.subscribe .content .text label {
	font-size: 18px;
	color: #212b49;
	font-weight: 400;
	margin: 5px 0 0 16px;
}

.subscribe .content .text input {
	width: 24px;
	height: 24px;
	position: relative;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
}

.subscribe .content .text input+label:before {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	border: 1px solid #212b49;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	z-index: 5;
}

.subscribe .content .text input:checked+label:after {
	content: '\f00c';
	position: absolute;
	left: 2px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	color: #212b49;
	z-index: 5;
	font-size: 21px;
	top: 7px;
}

.services {
	padding: 65px 0 52px;
	background: #f5f5f5;
}

.services-title h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 38px;
}

.services-box {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #dfdfdf;
}

.services-item {
	display: flex;
	align-items: center;
	padding: 34px 10px;
}

.services-item > img {
	margin-right: 30px;
	width: 110px;
}

.services-item .content {
	width: 380px;
}

.services-item .content p {
	font-size: 17px;
	color: #212b49 !important;
}

.services-item .content p b{
	font-size: 17px;
	color: #212b49 !important;
}

.services-item .content a {
	font-size: 14px;
	color: #212b49 !important;
	border-bottom: 1px solid;
}
.services-item .content a:hover {
	border-bottom: none;
}

.col-sm-6.right {
	border-right: 1px solid #dfdfdf;
}

.col-sm-6.bottom {
	border-bottom: 1px solid #dfdfdf;
}


.share {
	background: #212b49;
	padding: 96px 0 52px;
}

.share-title {
	display: flex;
	align-items: center;
}

.share-title > img {
	margin-right: 16px;
}

.share-title > span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}

.share-list-link {
	list-style: none;
	padding: 20px 0 0 3px;
	line-height: 30px;
}

.share-list-link > li {
	color: #fff;
}

.share-list-link > li i {
	margin-right: 10px;
}

.share-list-link > li > a {
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid;
}

.share-list-link > li.first i {
	color: #fbcb09;
}

.share-list-link > li.first a {
	color: #fbcb09;
	border-bottom: 1px solid;
	font-weight: normal !important;
	font-size: 14px;
}

.footer {
	padding: 25px 0 0;
}



/*Visit*/
.visit {
	padding: 0 0 50px 0;
	color: #fff;
	background: #23a1d1;
}
.visit img {
	height: 71px;
	margin: 50px auto 25px auto;
	display: block;
}

/*Language*/
.language {
	padding: 50px;
	background: #173642;
	text-align: center;
}
@media (min-width: 992px) {
	.language {
		padding: 50px 100px;
		text-align: left;
	}
}
@media (min-width: 992px) {
	.language img {
		margin: 0 50px 0 0;
		float: left;
	}
}
.language h3 {
	margin: 25px 0 15px 0;
	color: #fff;
}
@media (min-width: 992px) {
	.language h3 {
		margin: 0;
		float: left;
	}
}
.language h3 small {
	margin: 10px 0 0 0;
	display: block;
	color: #fff;
}
@media (min-width: 992px) {
	.language a {
		float: right;
	}
}
.language .btn {
	margin: 10px 0 0 0;
}

/*Modules*/
.modules {
	padding: 50px 50px 50px 50px;
	background: #fff;
}
@media (min-width: 992px) {
	.modules {
		padding: 50px;
	}
}
.modules h2 {
	margin: 50px 0;
}
.modules .module {
	margin: 0px 0 50px 0;
}
.modules .thumbnail {
	margin: 0 25px 0 0;
}

/*Mailing list*/
.mailing-list {
	padding: 50px;
	background: #23A1D1;
	text-align: center;
}
@media (min-width: 992px) {
	.mailing-list {
		padding: 50px 100px;
		text-align: left;
	}
}
@media (min-width: 992px) {
	.mailing-list img {
		margin: 0 50px 0 0;
		float: left;
	}
}
.mailing-list h3 {
	margin: 25px 0;
	color: #fff;
}
@media (min-width: 992px) {
	.mailing-list h3 {
		margin: 0;
		float: left;
	}
}
.mailing-list h3 small {
	margin: 10px 0 0 0;
	display: block;
	color: #fff;
}
@media (min-width: 992px) {
	.mailing-list a {
		float: right;
	}
}

/*Core modules*/
.core-modules {
	padding: 0 50px 50px 50px;
	background: #fff;
}
@media (min-width: 992px) {
	.core-modules {
		padding: 0 100px 50px 100px;
		background: #fff;
	}
}
.core-modules h2 {
	margin: 50px 0 0 0;
}
.core-modules img {
	margin: 50px 0 0 0;
}
.core-modules p {
	margin: 25px 0;
}

/*Support*/
.support {
	padding: 0 50px 50px 50px;
	background: #173642;
	color: #fff;
}
@media (min-width: 992px) {
	.support {
		padding: 0 100px 50px 100px;
	}
}
.support p {
	color: #fff;
}
.support a.icon {
	margin: 50px auto 0 auto;
	width: 100px;
	height: 100px;
	display: block;
	border: 3px solid #23a1d1;
	webkit-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
}
.support a.icon:hover {
	border: 3px solid #23a1d1;
	background: #23a1d1;
}
.support .icon i {
	line-height: 100px;
}
.support a:hover {
	color: #fff;
}


/*Terms*/
.terms {
	background: #FFFFFF;
	margin: 3px 0px 10px 0px;
	padding: 4px;
	height: 250px;
	overflow-y: scroll;
	position: relative;
}

.terms h3 {
	color: #333333;
}

.terms p {
	color: #666666;
	font-size: 16px;
}

.terms ol li {
	color: #666666;
}

.terms a {
	color: #ffcc00 !important;
}


.container ::-webkit-scrollbar {
	width: 10px;
	height: 9px;
}
.container ::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
.container ::-webkit-scrollbar-thumb {
	background: #ffcc00;
	border: 1px solid #ffcc00;
	border-radius: 50px;
}
.container ::-webkit-scrollbar-thumb:hover {
	background: #ffcc00;
}
.container ::-webkit-scrollbar-thumb:active {
	background: #ffcc00;
}
.container ::-webkit-scrollbar-track {
	background: #f2f2f2;
	border: 3px solid #fff;
	border-radius: 50px;
}
.container ::-webkit-scrollbar-track:hover {
	background: #f2f2f2;
}
.container ::-webkit-scrollbar-track:active {
	background: #f2f2f2;
}
.container ::-webkit-scrollbar-corner {
	background: transparent;
}


/*Alert*/
.alert {
	padding: 8px 14px 8px 14px;
}

/*Footer*/
footer {
	margin: 10px 0 30px;
	text-align: center;
}
footer a {
	display: inline-flex;
	align-items: center;
	color: #232a46;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid;
	position: relative;
}

footer a:nth-child(2), footer a:nth-child(3) {
	margin-left: 82px;
}

footer a:nth-child(2):before, footer a:nth-child(3):before {
	content: '';
	display: inline-block;
	height: 6px;
	width: 6px;
	background: #232a46;
	border-radius: 50%;
	position: absolute;
	left: -41px;
}

a, a:visited, a b, a:focus {
	color: #232a46;
	text-decoration: none;
	cursor: pointer;
}