<footer>
  <div class="container">
    <a href="https://neoseo.com.ua" target="_blank"><?php echo $text_project; ?></a>
    <a href="https://neoseo.com.ua/module-installation-instructions " target="_blank"><?php echo $text_documentation; ?></a>
    <a href="https://neoseo.com.ua/vse-chto-nujno-znat-klienty " target="_blank"><?php echo $text_support; ?></a>
    </div>
</footer>
</body>
</html>