/*** NeoSeo Testimonials*/

/// aside module
#neoseo_testimonial {
  margin: 15px 0 20px;
  .owl-carousel {
    display: block;
    .owl-buttons {
      & > div {
        top: 44%;
      }
      .btn {
        border: none;
        box-shadow: none;
        background-color: rgba(150, 150, 150, 0.35);
        padding: 20px 3px;
      }
      .owl-prev {
        left: 5px;
      }
      .owl-next {
        right: 5px;
      }
    }
  }
  .item {
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ECEDEE;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 2px;
      border-bottom: none;
    }

    .name {
      margin-bottom: 10px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      .date-added {
        font-size: small;
        color: #AAA;
        position: relative;
        top: 1px;
      }
    }
    .rating {
      margin-bottom: 10px;
      margin-top: 5px;
      white-space: nowrap;
    }
    .youtube {
      margin: 10px 0;
      iframe {
        max-width: 100%;
      }
    }
    .description {
      font-style: normal;
      font-size: small;
    }
    .admin-block {
      margin: 10px 5px 10px 10px;
      font-style: italic;
      font-size: small;
      opacity: 0.8;
      .name {
        display: none;
        font-style: normal;
        font-weight: 600;
      }
      .admin-answer {
        margin-bottom: 8px;
        display: block;
      }
      .admin-text {
      }
    }
    .show_more {
      font-size: small;
      font-weight: normal;
      margin: 10px 0;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }

  }
}

@media (min-width: 1400px) {
  #neoseo_testimonial {
    .item {
      .youtube iframe {
        height: 168px;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #neoseo_testimonial {
    .item {
      .youtube iframe {
        height: 118px;
      }
    }
  }
}
@media (max-width: 1199px) {
  #neoseo_testimonial {
    .item {
      .name .date-added {
        float: none !important;
        display: block;
        margin-top: 5px;
        font-size: smaller;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #neoseo_testimonial {
    .item {
      padding-bottom: 5px;
      margin-bottom: 10px;
      .admin-block {
        margin-left: 5px;
      }
      .name {
        margin-bottom: 5px;
      }
      .show_more {
        font-size: smaller;
      }
      .youtube iframe {
        height: 110px;
      }
    }
    .owl-carousel {
      .owl-buttons {
        .btn {
          background-color: rgba(150, 150, 150, 0.25);
          padding: 15px 0;
        }
        .owl-prev {
          left: 0;
        }
        .owl-next {
          right: 0;
        }
      }
    }
  }
}


@media (min-width: 600px) {
  .show_more {
    i {
      display: none;
    }

  }

}

@media (max-width: 600px) {

  .carousel-title {
    padding: 0 0 0 15px;
    width: 75%;
  }

  .show_more {
    a {
      display: inline-block;
    }
    padding: 0 15px 0 0;
    width: 25%;
    span {
      display: none;
    }
    i {
      margin-right: 0;
    }
  }

  .show_more-button {
    display: none;
  }
}


///  testimonial_content LIST
.neoseo_testimonial_content {
  margin-bottom: 15px;
  h1 {
    margin-top: 5px;
  }
  .item {
    margin: 17px 0 25px;
    .line1 {
      margin-bottom: 5px;
      a {
        font-size: 16px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .date {
      color: #AAA;
      margin-left: 10px;
      font-size: small;
      position: relative;
      top: 0;
    }
    .rating {
      margin: 5px 0 15px;
    }
    .youtube {
      margin: 10px 0;
      iframe {
        max-width: 100%;
      }
    }
    .description {
      margin-right: 50px;
    }
    .admin-block {
      width: 98%;
      margin: 0 auto;
      padding: 15px 20px 20px;
      background-color: #F0F1F2;
      border-radius: 8px;
      opacity: 0.95;
      display: flex;
      flex-direction: column;
      .line2 {
        margin: 0 0 15px;
      }
      .admin-description {
        font-style: italic;
      }
    }
  }
}

.owl-wrapper {
  .owl-item {
    .item {
      a {
        color: $product-title-color;
        &:hover {
          color: $product-title-color;
          text-decoration: underline;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .neoseo_testimonial_content {
    .item {
      margin-bottom: 20px;
      .description {
        margin-right: 30px;
      }
      .youtube.variable {
        iframe {
          width: 400px;
          height: 224px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .neoseo_testimonial_content {
    .item {
      margin-bottom: 15px;
      .description {
        margin-right: 10px;
      }
      .youtube {
        iframe {
          width: 400px;
          height: 224px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .neoseo_testimonial_content {
    h1 {
      margin-top: 8px;
      margin-bottom: 25px;
      font-size: 25px;
    }
    .item {
      .description {
        margin-right: 5px;
      }
    }
  }
}
@media (max-width: 650px) {
  .neoseo_testimonial_content {
    .item {
      .youtube iframe {
        width: 300px;
        height: 170px;
      }
    }
  }
}
@media (max-width: 479px) {
  .neoseo_testimonial_content {
    margin-bottom: 15px;
    h1 {
      font-size: 23px;
    }
    .item {
      .date {
        white-space: nowrap;
        margin-left: 0;
        display: block;
        margin-top: 5px;
      }
    }
    .info-buttons {
      margin-bottom: 0;
      text-align: center;
      .btn {
        margin-bottom: 5px;
        margin-top: 8px;
      }
    }
  }
}
/// testimonial_content FORM
.neoseo_testimonial_content.testimonial_form {
  h1 {
    margin-bottom: 16px;
  }
  form {
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .neoseo_testimonial_content.testimonial_form {
    form {
      margin-top: 20px;
      .control-label {
        text-align: left;
        margin-bottom: 7px;
      }
    }
  }
}

.testimonials-main {
  padding: 17px 5px 5px 5px;
  background: $module-background-color;
  box-shadow: 1px 4px 22px 2px #ddd;
  margin-bottom: 20px;
  & > h3 {
    font-size: 23px;
  }
  .owl-carousel {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
  }

  .owl-controls {
    display: none;
  }

  .testimonials-item {
    padding: 10px 15px;
    .testimonials-item_top {
      display: flex;
      ._left {
        display: flex;
        width: 40%;
        .name {
          display: flex;
          justify-content: flex-start;
          align-self: center;
          width: auto;
          border-right: 2px solid #ececec;
          padding-right: 20px;
          a {
            text-transform: uppercase;
            font-size: 18px;
            color: #191919;
            line-height: 1.3;
          }
        }
        .date {
          width: 50%;
          display: flex;
          align-items: center;
          padding-left: 20px;
          span {
            color: #777;
            font-size: 13px;
          }

        }
      }
      ._right {
        display: flex;
        width: 60%;
        justify-content: flex-end;
        align-items: center;
        .rating {
          position: relative;
          top: -2px;
        }
      }
    }
    .testimonials-item_bottom {
      padding-top: 20px;
      min-height: 120px;
      display: flex;
      ._left {
        display: flex;
        width: 7%;
        i {
          font-size: 34px;
          color: $main-background-color;
        }
      }
      ._right {
        display: flex;
        width: 93%;
        span {
          text-align: left;
          color: #171717;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .testimonial-container {
    padding: 10px 10px 10px 10px;
  }
}

.testimonial-header {
  display: inline-block;
}

.show_more  {
  i {
    margin-right: 5px;
  }
  a {
    border-radius: 5px;
    background: $button-color;
    padding: 5px 10px;
    color: $button-color-text;
    &:hover {
      background: $button-color-hover;
    }
  }
}


.testimonial-users--top {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: baseline;
  h1 {
    margin-top: 10px;
  }
  .testimonial-users--top,.testimonial-users--write-post{
    width: 50%;
    .testimonial-users--write-post.buttons {
      margin: 0;
      display: inline-flex;
      float: right;
    }
  }
}

@media (max-width: 1399px) {
  .testimonials-main {
    .testimonials-item {
      .testimonials-item_top {
        ._left {
          width: 50%;
        }
        ._right {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .testimonials-main {
    .testimonials-item {
      padding: 10px 15px;
      .testimonials-item_top {
        display: flex;
        ._left {
          display: flex;
          width: 55%;
          .name {
            &::after {
              left: 26%;
            }
          }
        }
        ._right {
          width: 45%;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .testimonials-main {
    .testimonials-item {
      padding: 10px 15px;
      .testimonials-item_top {
        display: flex;
        flex-direction: column;
        ._left {
          width:100%;
          .name {
            &::after {
              left: 50%;
            }
          }
          .date {
            width: auto;
            justify-content: flex-end;
          }
        }
        ._right {
          width: 100%;
          justify-content: flex-start;
        }
      }
      .testimonials-item_bottom {
        ._left {
          display: none;
        }
        ._right {
          width: 100%;
        }
      }
    }
  }

  .testimonial-users--top {
    flex-direction: column;
    .testimonial-users--top,.testimonial-users--write-post{
      width: 100% !important;
      .pull-right {
        float: left !important;
        .btn-post {
          width: 175px;
          display: block;
          margin: 5px;
        }

      }
    }
  }

}

@media (max-width: 480px) {
  .testimonials-main {
    .testimonials-item {
      padding: 10px 15px;
      .testimonials-item_top {
        display: flex;
        ._left {
          display: block;
          width: 100%;
          .name {
            border: none;
            display: block;
            align-items: center;
            width: 100%;
          }
          .date {
            padding: 0;
            display: block;
            align-items: center;
            width: 100%;
          }
        }
        ._right {
          width: 100%;
          justify-content: center;
        }
      }

      .testimonials-item_bottom {
        ._left {
          display: none;
        }
        ._right {

          width: 100%;
        }
      }
    }
  }
}