
.category-tree-box {

  .category-block {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  .category-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    @media (min-width: 768px) {
      display: none !important;
    }
    & > a {
      font-size: 21px;
      color: #333;
    }

    & > i {
      background: #e7e7e7;
      padding: 1px 0 0 0;
      display: flex;
      align-items: center;
      width: 39px;
      height: 39px;
      justify-content: center;
      border-radius: 50%;
      font-size: 21px;
      color: #888;
      transition: 0.3s;
    }

  }
  .collapse-category {
    @media (min-width: 768px) {
      min-height: 240px !important;
    }
  }

  .category-block-container {
    // display: flex;
    position: relative;
    padding: 0;
    background: $module-background-color;
    border: 1px solid $module-border-color;
    @media (min-width: 768px) {
      min-height: unset !important;
      height: auto;
    }

    .list-box {
      

      & > a {
        
        margin: 0;
        padding: 10px 15px;
        font-size: 21px;
        
        @media (max-width: 767px) {
          display: none;
        }
        &:hover {
          transition: 0.3s;
          background: $button-color;
          color: $button-color-text;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 15px;
        font-size: 16px;
        line-height: 26px;
        li {
          i {
            margin-right: 5px;
            font-size: 18px;
            color: $button-color;
          }
          a {
            transition: 0.3s;
            color: #404040;
            &:hover {
              transition: 0.3s;
              color: $button-color;
            }
          }
        }

      }
    }

    
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      a {
      }
      img {
        max-width: 100%;
      }
      @media (max-width: 767px) {
      }
    }
  }

  .category-tree-carousel {
    .category-block {
      position: relative;
      padding: 0;
      border: 1px solid $module-border-color;
      opacity: 0;

      .list-box {

        position: absolute;
        bottom: 0;
        background: $button-color;
        width: 100%;
        margin: 0 !important;
        min-height: unset;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .8;
        transition: all .3s;

        a {
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $button-color-text;
          text-decoration: none;
          font-size: 20px;
        }

      }

      &:hover {
        .list-box {
          height: 100%;

          a {
          }

        }
      }

      .image {
        a {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }  
    }
    .owl-item {
      .category-block {
        opacity: 1;
      }
    }

    .owl-controls {
      position: absolute;
      bottom: unset;
      left: unset;
      top: -50px;
      right: 0;
    }
    
    .owl-prev {
      position: relative;
      font-size: 0 !important;
      width: 30px;
      height: 30px;
      background: transparent !important;
      border: 1px solid $button-color;

      &:before {
        position: absolute;
        content: "\f053";
        top: 50%;
        left: 50%;
        margin-left: -5px;
        margin-top: -8px;
        // margin-left: -12px;
        // margin-top: -11px;
        color: $button-color;
        font-family: fontawesome, serif;
        font-size: 14px;
      }
    }

    .owl-next {
    position: relative;
    font-size: 0 !important;
    width: 30px;
    height: 30px;
    background: transparent !important;
    border: 1px solid $button-color;

    &:before {
      position: absolute;
      content: "\f054";
        top: 50%;
        left: 50%;
        margin-left: -5px;
        margin-top: -8px;
        // margin-left: -12px;
        // margin-top: -11px;
        color: $button-color;
        font-family: fontawesome, serif;
        font-size: 14px;
    }      
    }
  }

  .category-tree-mosaic {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }

    .category-block {
      position: relative;
      padding: 0;
      margin-bottom: 5px !important;      

      &:nth-child(1) {
        width: 33.2%;
      }

      &:nth-child(2) {
        width: 66.4%;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 33%;
      }

      &:nth-child(6) {
        width: 66.4%;
      }

      &:nth-child(7) {
        width: 33.2%;
      }

      .list-box {

        a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(255,255,255,.5);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s;


          span {
            padding: 15px;
            border: 1px solid $button-color;
            color: $button-color;
            font-weight: bold;
            text-transform: uppercase;
           
          }

          &:hover {
            background: transparent;

            span {
              background: rgba(255,255,255,.8);
            }
          }
        }
        

      }

      .image {

        &:hover {
        }

        a {
          display: block;
          width: 100%;
        }

        img {
          width: 100%;
          max-width: 100%;
        }
      }

      @media screen and (max-width: 767px) {
        width: 80vw !important;
        height: 40vw;
        overflow: hidden;

        .list-box {
          a {
            background: transparent;

            span {
              background: #fff;
            }
          }
        }
      }

      &:hover {
        .list-box {
          

          a {
            
          }

        }
      }

      
        
    }
    
  }

  .category-tree-child {

    

    @media screen and (max-width: 767px) {
    }

    .category-block {
      position: relative;
      display: flex;
      padding: 30px;
      // border: 2px solid transparent;
      transition: all .3s;

      &:before {
        position: absolute;
        content: '';
        left: 100%;
        right: 0%;
        top: 0;
        bottom: 100%;
        border: 2px solid transparent;
        border-left: none;
        border-bottom: none;
        transition: all .3s;
        border-radius: 0 50px 0 0;
      }

      &:after {
        position: absolute;
        content: '';
        right: 100%;
        left: 0%;
        bottom: 0;
        top: 100%;
        border: 2px solid transparent;
        border-right: none;
        border-top: none;
        transition: all .3s;
        border-radius: 0 0 0 50px;
      }

      &:hover {

        border-color: $button-color;

        &:before {
          left: 0;
          bottom: 0;
          border-color: $button-color;
        }

        &:after {
          right: 0;
          top: 0;
          border-color: $button-color;
        }

        .list-box {
          

          a {
            
          }

        }
      }

      .list-box {
        padding-left: 15px;

        .name-box {
          a {
            display: block;
            margin-bottom: 6px;
            font-weight: bold;
            font-size: 20px;
          }
        }

        a {
          


          span {
            
          }

          &:hover {

            span {
            }
          }
        }
        

      }

      .image {
        width: 35%;
        border-radius: 50%;
        overflow: hidden;

        &:hover {
        }

        a {
          display: block;
          width: 100%;
        }

        img {
          width: 100%;
          max-width: 100%;
        }
      }

      @media screen and (max-width: 767px) {
        

        .list-box {
          a {
            span {
            }
          }
        }
      }

      

      
        
    }
    
  }

  .category-grid {
    & > .col-md-3 {
      @media (min-width: 992px) {
        padding-right: 5px;
      }
    }
    .category-block {
      padding: 0;
      background: #ffffff;
      border: 1px solid #cecece;
      @media (max-width: 767px) {
        margin: 0 -10px;
      }
      .image {
        padding: 15px 15px 7.5px;
        @media (max-width: 767px) {
          display: none;
        }
        img {
          width: 100%;
          max-width: 168px;
          margin: 0 auto;
        }
      }
      .list-box {
        @media (min-width: 768px) {
          padding: 7.5px 24px 15px;
        }
        .name-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;
          @media (min-width: 768px) {
            height: 20px;
            overflow: hidden;
          }
          @media (max-width: 767px) {
            padding: 10px 15px;
            border-bottom: 1px solid #cecece;
            margin-bottom: -1px;
          }
          a {
            line-height: 22px;
            font-size: 15px;
            margin-top: -8px;
            color: $main-background-color;
            font-weight: 600;
            @media (min-width: 768px) {
              text-decoration: underline;
            }
          }
          .fa {
            @media (min-width: 768px) {
              display: none !important;
            }
            font-size: 21px;
            color: #555;
            background: #ddd;
            min-width: 36px;
            min-height: 36px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
          }
        }

        .list-unstyled {
          height: 120px;
          overflow: hidden;
          @media (min-width: 768px) {
            display: block !important;
          }
          @media (max-width: 767px) {
            padding: 20px;
            margin: 0;
            display: none;
            height: auto;
          }
          & > li {
            display: flex;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            .fa {
              margin-right: 10px;
              font-size: 16px;
              color: #666666;
            }
            a {
              font-size: 13px;
              color: #666666;
              &:hover {
                color: $main-background-color;
                text-decoration: underline;
              }
            }
          }
        }

      }
    }
  }

}

