/* Checkbox AVeSoMe */
.radio, .checkbox {
  margin-top: 2px;
  margin-bottom: 2px;
}
.checkbox {
  padding-left: 20px;


  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 17px;
      left: 0;
      top: 0;
      margin-left: -20px;
      border: 1px solid #cdcdcd;
      border-radius: 0;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 10px;
      height: 9px;
      left: 0;
      top: 4px;
      margin-left: -16px;
      padding-left: 2px;
      padding-top: 0;
      font-size: 14px;
      color: transparent;
      background: $button-color;
      border-radius: 0;
    }
  }

  input {
    &:checked {
      & + label {
        &:before {
          border: 2px solid $button-color;
        }
      }
    }
  }

  input {
    &[type="checkbox"], &[type="radio"] {
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }
    &[type="checkbox"]:focus + label::before, &[type="radio"]:focus + label::before {
      outline: none;
    }
    &[type="checkbox"]:checked + label::after {
      font-family: FontAwesome, serif;
      content: "\f00c";
    }
    &[type="checkbox"]:indeterminate + label::after, &[type="radio"]:indeterminate + label::after {
      display: block;
      content: "";
      width: 10px;
      height: 3px;
      background-color: $button-color;
      border-radius: 2px;
      margin-left: -16.5px;
      margin-top: 7px;
    }
    &[type="checkbox"]:disabled, &[type="radio"]:disabled {
      cursor: not-allowed;
    }
    &[type="checkbox"]:disabled + label, &[type="radio"]:disabled + label {
      opacity: 0.6;
      cursor: default;
    }
    &[type="checkbox"]:disabled + label::before, &[type="radio"]:disabled + label::before {
      background-color: #EEE;
      cursor: not-allowed;
    }
  }

  &:hover label::before {
    border-color: $button-color-hover;
  }

  &.checkbox-circle label::before {
    border-radius: 50%;
  }

  &.checkbox-inline {
    margin-top: 0;
    padding-top: 3px;
  }
}


.checkbox {
  // &[checked="checked"]:checked + label:before {
  //   border: 2px solid $button-color;
  // }

  &:checked + label:before {
    border: 2px solid $button-color;
  }

  &[checked="checked"]:checked + label > a {
    font-weight: bold;
  }
}

.radio {
  padding-left: 20px;

  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: 1px;
      margin-left: -20px;
      border: 1px solid #CCC;
      border-radius: 50%;
      background-color: #FFF;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }

    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 4px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: $button-color;
      -webkit-transition: 0.1s all ease;
      -moz-transition: 0.1s all ease;
      transition: 0.1s all ease;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  &:hover label::before {
    border-color: $button-color-hover;
  }

  input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:focus + label::before {
      outline: none;
    }
    &:checked + label::after {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    &:disabled {
      cursor: not-allowed;
      & + label {
        opacity: 0.6;
        cursor: default;
        &::before {
          cursor: not-allowed;
        }
      }
    }
  }

  &.radio-inline {
    margin-top: 0;
  }

}
.radio-primary input[type="radio"] {
  & + label::after, &:checked + label::after {
    background-color: $button-color;
  }
  &:checked + label::before {
    border-color: $button-color;
  }
}
.checkbox:hover input[disabled] + label::before,
.radio:hover input[disabled] + label::before {
  border-color: #CCC;
}


.radio-image {
  label {
    display: flex;
    align-items: center;
    &::before {
      top: 20px;
    }
    &:after {
      top: 23px;
    }
    img {
      margin-right: 10px;
    }
  }
  input[type="radio"] {
    top: 20px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
}

.radio-quickview, .checkbox-quickview {
  margin-bottom: 10px;
}

.radio.radio-square {
  display: inline-flex;
  padding: 0;
  margin: 0 10px 0 0 !important;
  label {
    .square {
      padding: 3px 5px;
      border-radius: 2px;
      color: #a5a3a3;;
      border: 1px solid transparent;
    }
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }

  }
  input[type="radio"] {
    margin: 0;
    width: 25px;
    height: 25px;
    &:checked + .square {
      border: 1px solid $button-color;
      color: $button-color;
    }
  }

}


.radio-product-image {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 5px;
  padding: 0 !important;
  align-items: center;
  justify-content: flex-start;
  img {
    cursor: pointer;
  }
  label {
    padding: 0;
    align-items: center;
    &::before {
      display: none;
    }
    &:after {
      display: none;
    }
    span {
      display: flex;
      margin-right: 0;
      flex-direction: column;
      align-items: center;
      outline: 2px solid #dedede;
    }
    .color-name {
      font-size: 10px;
      font-weight: bold;
      margin-top: 5px;
    }

  }

  input[type="radio"] {
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 13px;
    bottom: 0;
    margin: auto;
    width: 35px;
    height: 35px;
    &:checked + span {
      outline: 2px solid #000;
    }
  }
}


.options-container {
  .form-group {
    position: relative;
    label {
      display: inline-flex;
      &:before {
        margin: -4px 3px 0 0;
      }
    }
  }
  .form-group.required {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
      margin: 0 15px 0 0;
    }

  }

}

.radio-checkout {
  margin: 5px 0;

  label {
    display: inline-flex;
    align-items: center;
    margin: 5px 0;

    &:hover {
      span {
        &:before {
          content: '';
          display: inline-block;
          width: 17px;
          height: 17px;
          left: 0;
          top: 1px;
          margin-left: -20px;
          border: 1px solid $button-color;
          border-radius: 50%;
        }
      }

    }

    input {

      & + span {



        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 17px;
          height: 17px;
          left: 0;
          top: 1px;
          margin-left: -20px;
          border: 1px solid #CCC;
          border-radius: 50%;
          background-color: #FFF;
          -webkit-transition: border 0.15s ease-in-out;
          -o-transition: border 0.15s ease-in-out;
          transition: border 0.15s ease-in-out;
        }

        &::after {
          display: inline-block;
          position: absolute;
          content: " ";
          width: 11px;
          height: 11px;
          left: 3px;
          top: 4px;
          margin-left: -20px;
          border-radius: 50%;
          background-color: $button-color;
          -webkit-transition: 0.1s all ease;
          -moz-transition: 0.1s all ease;
          transition: 0.1s all ease;
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }

      &:checked {

        & + span {
          &:before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            left: 0;
            top: 1px;
            margin-left: -20px;
            border: 1px solid $button-color;
            border-radius: 50%;
          }

          &:after {
            content: '';
            display: inline-block;
            width: 11px;
            height: 11px;
            left: 3px;
            top: 4px;
            margin-left: -20px;
            border: 1px solid $button-color;
            border-radius: 50%;
            background: $button-color;
            opacity: 1;
          }
        }

      }
    }


  }

}

.checkbox-checkout {


  label {
    display: inline-flex;
    align-items: center;
    margin: 5px 0;
    &:before, &:after {
      display: none;
    }

    &:hover {

      span {
        &:before {
          border: 1px solid $button-color;
        }
      }

    }

    input {

      & + span {

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 18px;
          height: 17px;
          left: 0;
          top: 2px;
          margin-left: -20px;
          border: 1px solid #CCC;
          background-color: #FFF;
          -webkit-transition: border 0.15s ease-in-out;
          -o-transition: border 0.15s ease-in-out;
          transition: border 0.15s ease-in-out;
        }

        &::after {
          display: inline-block;
          position: absolute;
          content: " ";
          width: 10px;
          height: 9px;
          left: 4px;
          top: 6px;
          margin-left: -20px;
          background-color: $button-color;
          -webkit-transition: 0.1s all ease;
          -moz-transition: 0.1s all ease;
          transition: 0.1s all ease;
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }

      &:checked {

        & + span {

          &:before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 17px;
            left: 0;
            top: 2px;
            margin-left: -20px;
            border: 2px solid $button-color;
          }

          &:after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 9px;
            left: 4px;
            top: 6px;
            margin-left: -20px;
            border: 2px solid $button-color;
            background: $button-color;
            opacity: 1;
          }
        }

      }
    }


  }

}

.checkbox-politics {
  display: inline-block;

  input {
    &:checked {
      label {
        &:before {
          border: 2px solid $button-color !important;
        }
      }
    }
  }

  label {

    &:hover {

      span {
        &:before {
          content: '';
          display: inline-block;
          width: 18px;
          height: 17px;
          left: 0;
          top: 0;
          margin-left: -20px;
          border: 1px solid $button-color;
        }
      }

    }

  }

}

.register {
  .radio-checkout {
    display: inline-flex;
    align-items: center;
    min-width: 85px;
    justify-content: space-between;
    margin-left: 35px;
    padding: 0;
  }
}