﻿<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" name="viewport" />
<title></title>
<style type="text/css">
  .contact-wrap .links a:hover {background-color:#4173c9!important;}
</style>

<table class="emailMain" border="0" cellspacing="0" cellpadding="0" style="width:100% ; max-width:800px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.3;color:#444;background:#FFF;margin-bottom:0px;">
  <tr>
    <td>
      <p style="margin-bottom:20px; margin-top:20px;">Уважаемый, {firstname} {lastname}!</p>
      <p style="margin-bottom:20px;">Мы получили Ваш заказ <b>№{order_id}</b><br>
        В ближайшее рабочее время с Вами свяжется менеджер для уточнения деталей.
      </p>

      <p style="margin-top: 0px; margin-bottom: 20px;">
        <b>Заказанные товары:</b>
      </p>
    </td>
  </tr>
</table>


  <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
    <thead>
      <tr>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">Изображение:</td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">Наименование:</td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">Артикул:</td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Количество:</td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Цена:</td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Итого:</td>
      </tr>
    </thead>
    <tbody>
     {product:start}
      <tr id="product_template">
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;"><img src="{product_image}" height="40" width="40"></td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;"><a href="{product_url}">{product_name}</a></td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{product_model}</td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{product_quantity}</td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{product_price}</td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{product_total}</td>
      </tr>
    {product:stop}
    </tbody>
    <tfoot>

      <tr id="total_template">
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;" colspan="5"><b>Итого:</b></td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{total}</td>
      </tr>
    
    </tfoot>
  </table>

<table class="emailMain" border="0" cellspacing="0" cellpadding="0" style="width:100% ; max-width:800px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.3;color:#444;background:#FFF;margin-bottom:0px;">
  <tr>
    <td>
      <p style="margin-top: 0px; margin-bottom: 20px;">
        <b>Оплата:</b> {payment}
      </p>
      <p style="margin-top: 0px; margin-bottom: 20px;">
        <b>Доставка:</b> {shipment} {shipping_cost}, {shipping_zone}, {shipping_city}<br />
      </p>
    </td>
  </tr>
</table>


<table class="emailContacts" border="0" cellspacing="0" cellpadding="0" style=" border-top:1px solid #ddd;width:100%;max-width:800px;font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size:14px;line-height:1.3;color:#444;background:#FFF;margin:35px 0 20px;">
  <tr>
    <td valign="top" style="padding-top:20px; max-width:250px;">
      <a href="{store_url}"><img src='{logo_url}' alt='Логотип магазина' style="max-width:100%;" /></a>
    </td>
    <td valign="top" align="left" style="font-size:13px;line-height:1.4;font-weight:normal;min-width:300px;padding-top:20px;padding-left:20px;">
      <p style="margin-top:0px;">
        Звоните по телефонам:<br>
        <span style='font-size:14px;line-height:2;'> +38 067 935 65 61, +38 099 160 30 06, +38 063 136 39 55</span><br>
			</p>
		</td>
	</tr>
	
	<tr>
		<td valign="top" colspan="2" style="padding-top:20px; border-top:1px solid #ddd;font-size: 10px;text-align: right;">
			<p>Отправлено с помощью <a href="https://neoseo.com.ua/sozdanie-seo-magazina" target="_blank" style="color: blue;">{SEO-Магазин} от веб-студии NeoSeo​</a>.</p>
		</td>
	</tr>
</table